@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=28c90ec4-3c34-479c-b27e-abeee3ba0326");

@font-face {
  font-family: "Geometric 415 W01_n2";
  src: url("../fonts/e64fabce-7dca-4982-9192-ce8601ea44eb.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-n2";
  src: url("../fonts/e64fabce-7dca-4982-9192-ce8601ea44eb.eot?#iefix");
  src: url("../fonts/e64fabce-7dca-4982-9192-ce8601ea44eb.eot?#iefix") format("eot"), url("../fonts/c722fb1f-8fa1-4fef-8d34-b186cc33a136.woff") format("woff"), url("../fonts/2d5585f9-8002-4af9-989a-aaa0e2364131.ttf") format("truetype"), url("../fonts/3d971bde-4d94-43b3-b148-4a88475dfcc5.svg#3d971bde-4d94-43b3-b148-4a88475dfcc5") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'across_the_roadregular';
  src: url('../fonts/across_the_road-webfont.eot');
  src: url('../fonts/across_the_road-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/across_the_road-webfont.woff') format('woff'),
  url('../fonts/across_the_road-webfont.ttf') format('truetype'),
  url('../fonts/across_the_road-webfont.svg#across_the_roadregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometric 415 W01_i2";
  src: url("../fonts/243e1b58-5df8-4413-a8dc-88f205599470.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-i2";
  src: url("../fonts/243e1b58-5df8-4413-a8dc-88f205599470.eot?#iefix");
  src: url("../fonts/243e1b58-5df8-4413-a8dc-88f205599470.eot?#iefix") format("eot"), url("../fonts/78067c34-2fe5-4116-bd8d-e0836648bef4.woff") format("woff"), url("../fonts/4fd4387f-7798-4920-9653-e7dfa21a955f.ttf") format("truetype"), url("../fonts/861a511e-40ff-4014-acdd-c776f46adae7.svg#861a511e-40ff-4014-acdd-c776f46adae7") format("svg");
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: "Geometric 415 W01_n5";
  src: url("../fonts/cdcea033-5c3f-442e-9376-7673eb9df869.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-n5";
  src: url("../fonts/cdcea033-5c3f-442e-9376-7673eb9df869.eot?#iefix");
  src: url("../fonts/cdcea033-5c3f-442e-9376-7673eb9df869.eot?#iefix") format("eot"), url("../fonts/9a6dfb7f-1fea-4908-ad3c-e0e5466fa907.woff") format("woff"), url("../fonts/ac70006f-1bda-4ce6-8610-079c65a695d5.ttf") format("truetype"), url("../fonts/11fa8021-053d-4458-ad8c-db9a49dae4ee.svg#11fa8021-053d-4458-ad8c-db9a49dae4ee") format("svg");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Geometric 415 W01_i5";
  src: url("../fonts/5f317960-2cf8-4a50-97de-09664e729b45.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-i5";
  src: url("../fonts/5f317960-2cf8-4a50-97de-09664e729b45.eot?#iefix");
  src: url("../fonts/5f317960-2cf8-4a50-97de-09664e729b45.eot?#iefix") format("eot"), url("../fonts/0cf49378-3640-4dff-bc55-917c8755017f.woff") format("woff"), url("../fonts/8568074e-9120-4635-8a53-e1c4b28fb21a.ttf") format("truetype"), url("../fonts/5033decf-043c-4521-ad69-eb38c9a4a268.svg#5033decf-043c-4521-ad69-eb38c9a4a268") format("svg");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "Geometric 415 W01_n8";
  src: url("../fonts/2f7d3358-ef27-4e5a-bd30-8c28a7fd35c1.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-n8";
  src: url("../fonts/2f7d3358-ef27-4e5a-bd30-8c28a7fd35c1.eot?#iefix");
  src: url("../fonts/2f7d3358-ef27-4e5a-bd30-8c28a7fd35c1.eot?#iefix") format("eot"), url("../fonts/1e27244e-bf10-42d6-98ef-0c9b697c98ed.woff") format("woff"), url("../fonts/a8d9f915-2bde-4eea-afb7-8473047eb2ac.ttf") format("truetype"), url("../fonts/387ed45b-0063-4352-8ef6-2414e84e49d2.svg#387ed45b-0063-4352-8ef6-2414e84e49d2") format("svg");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Geometric 415 W01_i8";
  src: url("../fonts/43290adf-ee8a-43b9-9c15-b75397cd48e2.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Geometric 415 W01-i8";
  src: url("../fonts/43290adf-ee8a-43b9-9c15-b75397cd48e2.eot?#iefix");
  src: url("../fonts/43290adf-ee8a-43b9-9c15-b75397cd48e2.eot?#iefix") format("eot"), url("../fonts/c84d77b9-a5f7-408c-912f-cbc66a2a4ab0.woff") format("woff"), url("../fonts/57200b5e-9494-4eed-8c95-088091e6c828.ttf") format("truetype"), url("../fonts/0e483a57-6066-4389-b7d8-503ffd84a1a0.svg#0e483a57-6066-4389-b7d8-503ffd84a1a0") format("svg");
  font-weight: 800;
  font-style: italic;
}

